[Desktop Entry]
Name=MinecraftArchive
Type=Application
Terminal=false
Exec=/usr/bin/MinecraftArchive/start.sh
Icon=/usr/share/icons/MinecraftArchive.png
Categories=Game;ActionGame;AdventureGame;Simulation;
Keywords=game;minecraft;launcher;mc;
Comment=A Minecraft launcher with Blue Archive theme base on WonderLab.Override
Comment[zh_CN]=一个带有 Blue Archive 样式 UI 基于 WonderLab.Override 的 Minecraft 启动器
